@{
    ViewData["Title"] = "Category Update";
}

@model CategoryUpdateDTO

<div class="container-fluid">
    <div class="card">
        <div class="card-header py-3">
            <br />
        </div>
        <div class="card-body">
            <h4 class="card-title">@ViewData["Title"]</h4>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input style="color:inherit" asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ParentCategoryId">Item</label>
                    <select class="form-control" asp-for="ParentCategoryId" asp-items='@new SelectList(ViewBag.Categories,"Id", "Name")'>
                        <option style="color:inherit" disabled selected>Select Item</option>
                    </select>
                    <span asp-validation-for="ParentCategoryId" class="text-danger"></span>
                </div>
                <button class="btn btn-success">Update</button>
            </form>
        </div>
    </div>
</div>